body{
  margin: 0
}
#root{
  height: 100vh;
  width: 100vw;
}

.app{
background-color: bisque;
  display: flex;
  overflow-y: scroll;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.display{
  max-width: 50vw;
  max-height: 100%;
  text-align-last: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: italic;
}

img{
  transition: 1s;
  max-width: 40vw;
  max-height: 40vh;
  opacity: .8;
  cursor: "pointer";
}

img:hover{
  cursor: pointer;
}